# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build products and derived data
build/
DerivedData/
.derivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
